# MYSQL Database

DB_HOST     = localhost
DB_PORT     = 3306
DB_NAME     = flight_beers
DB_USER     = root
DB_PASS     = password123  


# SMTP
SMTP_HOST   = sandbox.smtp.mailtrap.io
SMTP_PORT   = 2525
SMTP_USER   = 1a2b3c4d5e6f
SMTP_PASS   = 9z8y8x7w6v5u
SMTP_AUTH   = true
SMTP_TLS    =                   # Optional (STARTTLS on all ports)
SMTP_NOREPLY = noreply@app.com
SMTP_INFO   = info@app.com



